
.home-page > form {
    width: 20rem;
    margin: 0 auto;
    text-align: left;
}
.home-page > form > button{
    margin-left: 3.5rem;
}
.home-page > div > ul > li {
    border-width: 1px;
}
.home-page > div > ul > li > a {
    color: black;
    font-size: 1rem;
}

.notif-no {
    border: solid;
    border-color:  #007bff00;
}

.notif-yes {
    border: solid;
    border-color:  red ;
}
